n8n-workflows/03-account-health-monitor.json
{
  "name": "03 — Account Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "3a2b3c4d-0001-4000-8000-000000000001",
      "name": "Every 6 Hours Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.TWENTY_API_URL }}/rest/companies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3a2b3c4d-0002-4000-8000-000000000002",
      "name": "Get All Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst companies = response.companies || response.data || [];\nconst now = new Date();\nconst cutoff = new Date(now.getTime() - 14 * 24 * 60 * 60 * 1000);\nconst atRisk = companies.filter(c => {\n  if (!c.updatedAt) return true;\n  return new Date(c.updatedAt) < cutoff;\n});\nreturn [{\n  json: {\n    atRiskAccounts: atRisk.map(a => ({ name: a.name, lastUpdated: a.updatedAt || 'never' })),\n    atRiskCount: atRisk.length,\n    checkDate: now.toISOString()\n  }\n}];"
      },
      "id": "3a2b3c4d-0003-4000-8000-000000000003",
      "name": "Find At-Risk Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.atRiskCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a2b3c4d-0004-4000-8000-000000000004",
      "name": "Any At-Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-6"
            },
            {
              "name": "max_tokens",
              "value": "={{ 400 }}"
            },
            {
              "name": "system",
              "value": "You are a CRM health analyst for Crossmint. Summarize at-risk accounts in a concise Slack-formatted alert. Use bullet points. Focus on account names and days since last touch. Be actionable."
            },
            {
              "name": "messages",
              "value": "={{ [{role: 'user', content: 'Generate a health alert for these ' + $json.atRiskCount + ' at-risk accounts (not touched in 14+ days) as of ' + $json.checkDate + ': ' + JSON.stringify($json.atRiskAccounts)}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3a2b3c4d-0005-4000-8000-000000000005",
      "name": "Generate Health Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text.trim();\nreturn [{ json: { summary: text } }];"
      },
      "id": "3a2b3c4d-0006-4000-8000-000000000006",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_HEALTH }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=:warning: *Account Health Alert — {{ $('Find At-Risk Accounts').item.json.atRiskCount }} accounts not touched in 14+ days*\n\n{{ $json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3a2b3c4d-0007-4000-8000-000000000007",
      "name": "Alert Slack Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 220]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours Trigger": {
      "main": [
        [
          {
            "node": "Get All Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Companies": {
      "main": [
        [
          {
            "node": "Find At-Risk Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find At-Risk Accounts": {
      "main": [
        [
          {
            "node": "Any At-Risk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any At-Risk?": {
      "main": [
        [
          {
            "node": "Generate Health Summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Health Summary": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Alert Slack Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3d4e5f6-a7b8-9012-cdef-345678901234",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "03-account-health-monitor",
  "tags": []
}
