n8n-workflows/05-weekly-digest.json
{
  "name": "05 — Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "5a2b3c4d-0001-4000-8000-000000000001",
      "name": "Friday 5pm Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.TWENTY_API_URL }}/rest/opportunities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a2b3c4d-0002-4000-8000-000000000002",
      "name": "Get Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.TWENTY_API_URL }}/rest/inboundLeads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a2b3c4d-0003-4000-8000-000000000003",
      "name": "Get Inbound Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const oppsData = $('Get Opportunities').first().json;\nconst leadsData = $input.first().json;\nconst opps = oppsData.opportunities || oppsData.data || [];\nconst leads = leadsData.inboundLeads || leadsData.data || [];\n\nconst closedWon = opps.filter(o => o.stage === 'CLOSED_WON');\nconst closedLost = opps.filter(o => o.stage === 'CLOSED_LOST');\nconst openOpps = opps.filter(o => !['CLOSED_WON', 'CLOSED_LOST'].includes(o.stage));\nconst totalPipeline = openOpps.reduce((sum, o) => sum + (Number(o.amount) || 0), 0);\nconst closedWonValue = closedWon.reduce((sum, o) => sum + (Number(o.amount) || 0), 0);\n\nreturn [{\n  json: {\n    weekEnding: new Date().toISOString().slice(0, 10),\n    totalOpportunities: opps.length,\n    openOpportunities: openOpps.length,\n    closedWonCount: closedWon.length,\n    closedWonValue: closedWonValue,\n    closedLostCount: closedLost.length,\n    totalPipelineValue: totalPipeline,\n    totalLeads: leads.length,\n    tierALeads: leads.filter(l => l.icpTier === 'A').length,\n    tierBLeads: leads.filter(l => l.icpTier === 'B').length,\n    tierCLeads: leads.filter(l => l.icpTier === 'C').length\n  }\n}];"
      },
      "id": "5a2b3c4d-0004-4000-8000-000000000004",
      "name": "Summarize Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-6"
            },
            {
              "name": "max_tokens",
              "value": "={{ 600 }}"
            },
            {
              "name": "system",
              "value": "You are a revenue operations analyst for Crossmint. Write a concise weekly executive digest in Slack-formatted markdown. Include pipeline highlights, closed won wins, lead quality breakdown, and one sharp recommendation. Be crisp and data-driven. Use bullet points and bold for key numbers."
            },
            {
              "name": "messages",
              "value": "={{ [{role: 'user', content: 'Generate the weekly digest for week ending ' + $json.weekEnding + '. Stats: ' + JSON.stringify($json)}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a2b3c4d-0005-4000-8000-000000000005",
      "name": "Generate Executive Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text.trim();\nreturn [{ json: { digest: text } }];"
      },
      "id": "5a2b3c4d-0006-4000-8000-000000000006",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_DIGEST }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=:bar_chart: *Crossmint Weekly Digest — Week of {{ $('Summarize Pipeline').item.json.weekEnding }}*\n\n{{ $json.digest }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a2b3c4d-0007-4000-8000-000000000007",
      "name": "Post Weekly Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Friday 5pm Trigger": {
      "main": [
        [
          {
            "node": "Get Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opportunities": {
      "main": [
        [
          {
            "node": "Get Inbound Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inbound Leads": {
      "main": [
        [
          {
            "node": "Summarize Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Pipeline": {
      "main": [
        [
          {
            "node": "Generate Executive Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Executive Summary": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Post Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5f6a7b8-c9d0-1234-efab-567890123456",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "05-weekly-digest",
  "tags": []
}
